<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/494ed6a733.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="stocks.css">
</head>
<body>
  <header class="header">
    <div class="header-1">
        <a href="/BookNook" class="btn button1">
            <img src="images/logo.png" width="200px">
         </a>
         <div class="category">
            <button>Category  
                <form><i class="fa-solid fa-caret-down"></i></form>      
            </button>
            <div class="content">
                <a href="#" id="Literature">Literature</a>
                <a href="#" id="Biography">Biography</a>
                <a href="#" id="Classic">Classic</a>
                <a href="#" id="Fantastic">Fantastic</a>
                <a href="#" id="History">History</a>
                <a href="#" id="Science-Fiction">Science Fiction</a>
                <a href="#" id="Psychology">Psychology</a>
                <a href="#" id="Horror">Horror</a>
                <a href="#" id="Thriller">Thriller</a>
                <a href="#" id="Romance">Romance</a>
                <a href="#" id="Cookbook&Food">Cookbook & Food</a>
                <a href="#" id="Mystery">Mystery</a>
                <a href="#" id="Poetry">Poetry</a>
                <a href="#" id="Self-Improvement">Self Improvement</a>
                <a href="#" id="Religion">Religion</a>
                <div id="output"></div>
            </div>
        </div>
        <form action="/search" method="post">
            <input type="text" name="searchBox" class="search-form">
            <button type="submit" class = "searchbutton" id="searchbutton">Search</button>
          </form>
        <div class="icons">
            <a href="/cart" class="fa-solid fa-cart-shopping"></a>
            <div id="login-btn" class="fas fa-user" ></div>
        </div>
    </div>
</header>
    <table class="book-table">
        <thead>
          <tr>
            <th>Book Cover</th>
            <th>Name</th>
            <th>Stocks</th>
            <th>Sold</th>
          </tr>
        </thead>
        <tbody>
          <% if (locals.book.imagePaths.length == 0) { %>
            <tr>
              <td colspan="4">
                <div class="alert">
                  <h2>There is no book in the cart</h2>
                </div>
              </td>
            </tr>
          <% } else { %>
            <% if (locals.book && locals.book.imagePaths) { %>
              <% for (let i = 0; i < locals.book.imagePaths.length; i++) { %>
                <tr>
                  <td>
                    <form action="/bookPage" method="POST">
                      <button type="submit" class="imgB">
                        <input type="hidden" name="itemId" value="<%= i %>">
                        <img src="<%= locals.book.imagePaths[i] %>" alt="" width=200px>
                        <p class="secret"><i class="fa-solid fa-magnifying-glass"></i></p>
                      </button>
                    </form>
                  </td>
                  <td class="book-name-cell"><%= locals.book.productName[i] %></td>
                  <td class="book-name-cell"><%= locals.book.stock_num[i] %></td>
                  <td class="book-name-cell"><%= locals.book.sold_book_num[i] %></td>
                </tr>
              <% } %>
            <% } else { %>
              <tr>
                <td colspan="4">
                  <h1>Error</h1>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
      
      
   
    <div id="footer-container"></div>
    <script src="script.js"></script>
</body>
</html>