<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/494ed6a733.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="header-1">
        <a href="/BookNook" class="btn button1">
            <img src="images/logo.png" width="200px">
         </a>
         <div class="category">
            <button>Category  
                <form><i class="fa-solid fa-caret-down"></i></form>      
            </button>
            <div class="content">
                <a href="#" id="Literature">Literature</a>
                <a href="#" id="Biography">Biography</a>
                <a href="#" id="Classic">Classic</a>
                <a href="#" id="Fantastic">Fantastic</a>
                <a href="#" id="History">History</a>
                <a href="#" id="Science-Fiction">Science Fiction</a>
                <a href="#" id="Psychology">Psychology</a>
                <a href="#" id="Horror">Horror</a>
                <a href="#" id="Thriller">Thriller</a>
                <a href="#" id="Romance">Romance</a>
                <a href="#" id="Cookbook&Food">Cookbook & Food</a>
                <a href="#" id="Mystery">Mystery</a>
                <a href="#" id="Poetry">Poetry</a>
                <a href="#" id="Self-Improvement">Self Improvement</a>
                <a href="#" id="Religion">Religion</a>
                <div id="output"></div>
            </div>
        </div>
        <form action="/search" method="post">
            <input type="text" name="searchBox" class="search-form">
            <button type="submit" class = "searchbutton" id="searchbutton">Search</button>
          </form>
        <div class="icons">
            <a href="/cart" class="fa-solid fa-cart-shopping"></a>
            <div id="login-btn" class="fas fa-user" ></div>
        </div>
    </div>
</header>

<main>
  
<% if (locals.address) { %>
    <% for (let i = 0; i < locals.address.name_.length; i++) { %>
        <div class="card0">
          <div class="name">
            <p><%= locals.address.name_[i] %></p>
          </div>
          <div class="street">
            <p><i class="fa-solid fa-location-dot"> </i> <%= locals.address.street[i] %>, <%= locals.address.post_code[i] %></p>
          </div>
          <div class="neighbourhood">
            <p>Neighbourhood: <%= locals.address.neighbourhood[i] %></p>
          </div>
          <div class="phone_number">
            <p><i class="fa-solid fa-phone"> </i> Phone number: </i><%= locals.address.phone_number[i] %></p>
          </div>
          <div class="country">
            <p>Country: <%= locals.address.country[i] %></p>
          </div>
          <div class="details">
            <p>Details: <%= locals.address.details[i] %></p>
          </div>
        </div>
      
    <% } %>
  <% } else { %>
    <h1>error</h1>
  <% } %>
</main>
<div id="address-btn">
    <button type="button" id="open-address-form-btn">Add new address</button>
</div>
<div class="address-form">
    <div id="close-address-btn" class="fas fa-times"></div>
    <form action="/address_reg" method="post">
        <h3>Address</h3>
        <span>Name</span>
        <input type="text" name="name_" placeholder="enter your name and surname" id="">
        <span>Country</span>
        <input type="text" name="country" placeholder="enter your country" id="">
        <span>Post Code</span>
        <input type="text" name="post_code" placeholder="enter your post code" id="">
        <span>Neighbourhood</span>
        <input type="text" name="neighbourhood" placeholder="enter your neighbourhood" id="">
        <span>street</span>
        <input type="text" name="street" placeholder="enter your street" id="">
        <span>phone number</span>
        <input type="text" name="phone_number" placeholder="enter your phone number" id="">
        <span>details</span>
        <input type="text" name="details" placeholder="details about an address" id="">
        <input type="submit" value="Submit" class="btn button4">
    </form>
</div>
 <div id="footer-container"></div>
 <script src="script.js"></script>
</body>
</html>
